.artist-banner {
  text-align: center;
  display: flex;
  height: 100vh;
  color: whitesmoke;
  justify-content: center;
  align-items: center;
}

.artist-main-title {
  margin: 0;
  font-weight: 700;
  font-size: 65px;
  letter-spacing: 2px;
  -webkit-hyphens:auto; 
  hyphens:auto;
}

.artist-main-section {
  padding-top: 50px;
  padding-bottom: 100px;
}

.artist-toggler {
  text-align: center;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 0px;
  margin: 0 10% 80px;
  cursor: pointer;
  user-select: none;
}

.artist-toggle-section {
  border-bottom: 1px solid rgb(219, 207, 207);
  padding-bottom: 8px;
  box-sizing: border-box;
  font-weight: 400;
  box-shadow: 1px #888888;
}

.active {
  font-weight: 700;
  border-bottom: 1px solid rgb(0, 0, 0);
}

.artist-bio {
  margin: 0 10%;
  text-align: center;
}

.artist-ava {
  padding: 0 2%;
  float: left;
  width: 100%;
  margin-bottom: 20px;
}

.artist-ava img {
  width: 96%;
  border-radius: 50%;
  display: block;
}

.artist-bio-name {
  font-size: 50px;
  font-weight: 700;
  margin: 0 0 20px 0;
}

.artist-bio-active-years {
  font-style: italic;
  color: #888888;
  margin: 0 0 20px 0;
}

.artist-members {
  font-weight: 500;
  margin: 0 0 20px 0;
  line-height: 40px;
}

.artist-desc {
  line-height: 40px;
  font-weight: 300;
}

.artist-subdesc {
  margin-bottom: 8px;
}

.artist-songmash {
  text-align: center;
  margin: 0 7% 80px;
  display: grid;
  grid-template-columns: 1fr;
}

.artist-song-card {
  padding: 0 5%;
  border: 4px solid rgb(2, 2, 2);
  border-radius: 2%;
  box-shadow: 4px 6px 4px #000000;
  cursor: pointer;
  user-select: none;
  background-color: whitesmoke;
}

.artist-song-card:active {
  box-shadow: none;
}

.artist-song-name {
  margin-top: 20px;
  font-weight: 700;
  font-size: 24px;
}

.artist-song-card img {
  padding: 5% 0 0 0;
  width: 100%;
}

.versus {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 70px;
  font-weight: 700;
  margin: 20px 0;
}

.artist-rankings {
  margin: 0 10% 80px;
}

.artist-row {
  display: grid;
  grid-template-columns: 3% 3% 40% 10% 14% 25% 5%;
  box-sizing: border-box;
  border: 1px solid rgb(2, 2, 2);
  padding: 5px 10px;
  border-radius: 50px;
  font-weight: 400;
  margin-bottom: 20px;
  height: auto;
  min-height: 40px;
}

.label {
  font-weight: 700;
  border: 2px solid rgb(2, 2, 2);
}

.track-rankings {
  display: flex;
  justify-content: left;
  align-items: center;
  padding: 0 5%;
}

.track-rankings-img img{
  width: 100%;
}

@media screen and (min-width: 425px) {
  .artist-main-title {
    font-size: 90px;
  }

  .artist-songmash {
    margin: 0 10% 80px;
  }

  .versus {
    margin: 20px 0;
  }
}

@media screen and (min-width: 768px) {
  .artist-main-title {
    font-size: 100px;
  }

  .artist-bio {
    text-align: left;
  }

  .artist-ava {
    width: 36%;
  }

  .artist-song-card {
    width: 50%;
  }

  .artist-song-card:nth-last-child(1) {
    transform: translateX(60%);
  }
}

@media screen and (min-width: 1024px) {
  .artist-songmash {
    grid-template-columns: 40% 20% 40%;
  }
  .artist-song-card {
    width: 88%;
  }
  .artist-song-card:nth-last-child(1) {
    transform: translateX(0%);
  }

  .versus {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 70px;
    font-weight: 700;
    margin: 0;
  }
}